body{margin:20px; font-family: "Times New Roman"; font-size: 0.875em; line-height:26px;}
h1{font-family: "Times New Roman"; font-size: 1.8em;}
p{font-family: "Times New Roman"; font-size: 1em; text-align: justify;	text-justify: inter-word;}
figcaption{font-family: "Times New Roman"; font-size: 0.9em; text-align: justify;	text-justify: inter-word;}

table {
    border-collapse: collapse;
    font-family: "Times New Roman"; font-size: 0.6em;
}

table, th, td {
    
    padding: 2px;
    line-height:12px;
    border-right: 1px dashed #ddd;
    border-bottom: 1px solid #ddd;
}

td {
	white-space: nowrap;
}

tr:hover {background-color: #f5f5f5}

.links line {stroke: #0080ff; stroke-opacity: 0.1;}

.nodes circle {stroke: #0080ff; stroke-width: 0.1px;}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font-family: "Times New Roman"; 
  font-size: 0.8em;
  line-height:15px;
  background: white;
  border: 1px solid  #f5f5f5;
  border-radius: 2px;
}
